<%- include('components/header') %>

	 <div class="container-fluid">
		   <header style="position: absolute; top: 0px; z-index: 999;">
		    	<img style="margin: 2em;" src="../../assets/img/logo.png" alt="">
		    	<a href="#" style="position: absolute; right:2em; padding: 10px; background-color: #FFC019; border-radius: 8px; color: #FFF;">Call to action</a>
		   </header>
	    </div>

    <div class="slider">
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../../assets/img/bg1.png" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="../../assets/img/bg1.png" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
<div>
	
	<form action="/login" method="POST">
		<h1>Login</h1>
		<label for="email">Email</label>
		<input type="text" name="email">
		<label for="password">Password</label>
		<input type="text" name="password">
		<button type="Sumit">Logar</button>
	</form>
</div>

<div>
	<h1>Cadastrp</h1>
	<form action="/createUser" method="POST">
		<label for="email">Email</label>
		<input type="text" name="email">
		<label for="password">Password</label>
		<input type="text" name="password">
		<button type="Sumit">Enviar</button>
	</form>
</div>

<%- include('components/footer') %>