@media only screen and (max-width: 800px)
{
    .menu-top > header > .logo {
        margin-top: 1em;
    }
    .banner_posts{
        z-index: 99999
        margin-top: -50px !important;
        background: #E5E5E5;
        padding: 25px;
    }
    #about .preview {
        padding: 2em !important;
    }
    #posts h1 {
       margin-bottom: 7% !important;
       margin-top: 7% !important;
       font-weight: 600;
       text-align: center;
       font-size: 25px !important;
       line-height: 100% !important;
       color: #8200C7;
       margin: 0.5em 0;
   }

    #about .endpage ul {
        padding-left: 0px !important;
        text-align: center !important;
        margin-right: 0em !important;
        float: none !important;
    }

    #about .endpage ul > li {
        display: inline-block !important;
        margin: 0em !important;
        float: none !important;
    }
}

@media only screen and (max-width: 992px){
    #news{
        text-align: center;
        margin-bottom: 1
    }

    #about .preview h2 {
        font-size: 1.5em;
    }

    #about .preview p {
        margin-bottom: 1em;
    }

    #topo-interno h1{
        font-size: 25px !important;
    }
}

@media(min-width:993px )and (max-width: 1280px){
    #about .preview{
        padding: 1em 1em 2em 2em;
    }
    #about .preview h2{
        font-size: 1.5em;
    }
}

@media(min-width:1200px )and (max-width: 1410px){
    .carousel-caption{
        bottom:2.5em;
    }
    .carousel-caption h3{
        font-size: 24px;
    }
    .carousel-caption h1{
        font-size: 35px;
        line-height: 1.5;
        font-weight: 600;
    }
}