
body{
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	background-color: #E5E5E5;
}
.carousel-caption{
	bottom:250px;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}
.carousel-caption h1{
	font-size: 32px;
}
.carousel-caption h3{
	font-size: 45px;''
}
.menu-top{
	position: absolute;
	width: 100%;
	top: 0px;
	z-index: 999999;
}
.menu-top > header > .logo {
	text-align: center;
	margin-top: 7em;
}
.menu-top > header > .logo img{
	max-width: 50%;
	margin-top: -5%
}
.banner_posts{
	margin-top: -190px;
    background: #E5E5E5;
    padding: 25px;
}
#h1_inicial{
	font-size: 35px !important;
}
#posts h1{
	font-weight: 600;
	font-size: 45px;
	line-height: 87px;
	color: #8200C7;
	margin: 0.5em 0;
}

#posts .item{
	background-color: #E0E0E0;
	text-align: center;
	margin-bottom: 3em;
}
#posts .item > h2{
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	color: #8200C7;
	margin: 15px 25px 10px;
}
#posts .item > p, #posts .text{
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	text-align: justify !important;
	color: #111111; 
	padding: 0 1em;
}

li{
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	text-align: justify !important;
	color: #111111;
	padding: 0 1em;
}

#posts .text{
	margin-bottom: 1em;
	text-align: left;
}
#posts .item > .footer{
    margin: 1em;
    padding: 1em 0px 2em;
}
#posts .item > .footer > a{
	background: #8200C7;
	border-radius: 32px;
	padding: 8px 30px;
	color: #FFFF;
	margin-bottom: 3em;
}
#posts .item img{
	max-width: 100%;
}
#news{
	background: #8200C7;
	padding:1em 2em 0;
	color: #FFF;
	z-index: 9999999;
	box-shadow: -3px 3px 5px rgba(0,0,0,0.3);
}
#news h2{
	margin-bottom: 20px;
	font-weight: bold;
}
#news p{
	font-weight: 400;
	margin-bottom: 20px;
}
#news input{
	padding: 15px;
	color:#111;
	margin: 10px 0;
	border:none;
	border-radius: 0;
	font-weight: 400;
}
#news button, #news .link-download{
	padding: 12px 40px;
	text-transform: uppercase;
	background-color: #FFC019;
	border-radius: 8px;
	color: #FFF;
	font-size:16px;
	font-weight: 400;
	text-decoration: none;
	border: none;
}

#news .link-download{
	padding: 5px 10px;
}
#news img{
	position: relative;
	bottom: 0;
	margin-top: 2em;
	text-align: center;
}
#about{
	background-color:#8200C7;
	margin-top: 4em;
	color: #FFF;
}
#about .image{
	padding:0;
}
#about .preview{
	padding: 5em;
}
#about .preview h2{
	font-size: 35px;
	text-align: center;
	line-height: 120%;
}
#about .preview p{
	font-size: 17px;
	color: #FFFFFF;
	text-align: justify;
	line-height: 150%;
	color: #FFFFFF;
	font-weight: 400;
}
#about .endpage{
	text-align: center;
	background-color: #FFFFFF;
}
#about .endpage .logo{
	text-align: center;
}
#about .endpage .logo img{
	margin: 2em 0;
}
#about .endpage ul{
	padding-left: 0px;
	float: right;
	margin-right: 15em;
}
#about .endpage ul > li{
	display: inline-block; margin: 3em; float: left;
}
#about .endpage .social img{
	max-width: 35px;
}

/*#post p{
	font-size: 17px;
	line-height: 150%;
	color: #303030;
	font-weight: 400;
}*/


